<div>

  <mat-form-field>
    <input matInput [(ngModel)]="deliveryAddress">
  </mat-form-field>

</div>

<table mat-table class="matTable mat-elevation-z8" [dataSource]="standardBoxes">

  <ng-container matColumnDef="ID">

    <th mat-header-cell *matHeaderCellDef >#</th>
    <td mat-cell *matCellDef="let box"> {{box.id}} </td>

  </ng-container>

  <ng-container matColumnDef="Material">

    <th mat-header-cell *matHeaderCellDef>Material</th>
    <td mat-cell *matCellDef="let box"> {{box.material}} </td>

  </ng-container>

  <ng-container matColumnDef="Price">

    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let box"> {{box.price}} </td>

  </ng-container>

  <ng-container matColumnDef="Length">

    <th mat-header-cell *matHeaderCellDef>Length </th>
    <td mat-cell *matCellDef="let box"> {{box.length}} </td>

  </ng-container>

  <ng-container matColumnDef="Width">

    <th mat-header-cell *matHeaderCellDef>Width </th>
    <td mat-cell *matCellDef="let box"> {{box.width}} </td>

  </ng-container>

  <ng-container matColumnDef="Height">

    <th mat-header-cell *matHeaderCellDef>Height </th>
    <td mat-cell *matCellDef="let box"> {{box.height}} </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

  <tr mat-row *matRowDef="let box; columns:columnsToDisplay"></tr>

</table>
